@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-size: 16px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.myContainer {
  @apply max-w-7xl px-5 mx-auto;
}

.Qtext {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lefthighlight {
  margin-top: 25px;
}

.lefthighlight .editor {
  display: block;
}

.lefthighlight .editor .card {
  margin-top: 25px;
}

button:disabled {
  opacity: 0.2;
}
